In [1]:
import numpy as np
import pandas as pd

In [2]:
flats = pd.read_csv('flats_cleaned.csv')
houses = pd.read_csv('house_cleaned.csv')

In [3]:
df = pd.concat([flats,houses],ignore_index=True)

In [5]:
df = df.sample(df.shape[0],ignore_index=True)

In [6]:
df.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Sector 81 Gurgaon,flat,signature global city 81,0.82,8639.0,949.0,Built Up area: 955 (88.72 sq.m.)Carpet area: 5...,2,2,3,not available,"Sector 81, Sector 81 Gurgaon, Gurgaon, Haryana",2.0,East,undefined,"['Orris Community Center', 'HP Petrol Pump', '...",Best in class property available at sector 81 ...,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,"['Environment4.5 out of 5', 'Lifestyle4 out of..."
1,5 Bedroom House for sale in Sector 50 Gurgaon,house,independent,6.50,21667.0,3000.0,Built Up area: 3000 (278.71 sq.m.),5,6,0,not available,"Sector 50, Sector 50 Gurgaon, Gurgaon, Haryana",1.0,NaN,undefined,NaN,Best in class property available at sector 50 ...,NaN,NaN,"['Environment5 out of 5', 'Lifestyle5 out of 5..."
2,3 Bedroom House for sale in Sector 36 Gurgaon,house,independent,0.75,6938.0,1081.0,Built Up area: 1081 (100.43 sq.m.),3,1,0,not available,"Sector 36, Gurgaon, Sector 36 Gurgaon, Gurgaon...",1.0,NaN,undefined,"['S.R.S. Hospital and Critical Care Unit', 'Sh...","3 bhk independent floor for sale in sector 36,...","['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,NaN
3,6 Bedroom House for sale in Uppals Southend,house,uppal southend,3.75,25562.0,1467.0,Built Up area: 163 (136.29 sq.m.),6,6,3+,study room,"Uppals Southend, Gurgaon, Haryana",3.0,East,5 to 10 Year Old,"['Sri Radhe Krishna Temple', 'Icici bank ATM',...",Uppal southend sector 49.Gated society. Near b...,"['12 Fan', '1 Exhaust Fan', '6 Geyser', '24 Li...","['Feng Shui / Vaastu Compliant', 'Maintenance ...","['Environment5 out of 5', 'Safety5 out of 5', ..."
4,2 BHK Flat in Sector 108 Gurgaon,flat,raheja vedaanta,0.70,4522.0,1548.0,Built Up area: 1548 (143.81 sq.m.)Carpet area:...,2,2,3,not available,"Sector 108 Gurgaon, Gurgaon, Haryana",1.0,West,undefined,NaN,Park facing sun facing during winter at sector...,"['1 Wardrobe', '1 Fan', '1 Light', 'No AC', 'N...",NaN,"['Green Area4 out of 5', 'Construction4 out of..."

In [7]:
df.shape

(3961, 20)

In [ ]:
df.to_csv('gurgaon_properties.csv',index=False)